# Node modules
node_modules

# Environment variables
.env

# Build or distribution folders (if any)
dist/
build/

# Firebase files (if you have any sensitive Firebase configs saved here)
firebaseconfig.js

# Log files
*.log

# System files
.DS_Store
Thumbs.db
